@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
header{
  color: #ffffff;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-size: x-large;
  margin: 20px;
}
nav ul{
  display: flex;
}
nav ul li{
  margin: 20px;
}
.container{
  font-size: xx-large;
  text-align: center;
  margin:auto;
  width: 30vw;
}
.container h1{
  font-weight: bolder;
  margin:20px;
}